<!--  app.compoent -->

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <section class="container">
      <a class="brand" href="#/home">Angular2Movie</a>
      <ul class="nav">
        <li>
          <a href="#/movies">Mes films</a>
        </li>
      </ul>
    </section>
  </div>
</header>

<section class="container">

  <!-- home.component -->

  <app-home></app-home>
  <app-movies-list></app-movies-list>

  <!-- home.component -->

</section>

<!--  app.compoent -->
