<div class="modal hide fade">
  <header class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Ajouter un film</h3>
  </header>
  <section class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label">Titre :</label>
        <input type="text">
      </div>
      <div class="control-group">
        <label class="control-label">Année de sortie :</label>
        <input type="text">
      </div>
      <div class="control-group">
        <label class="control-label">Réalisateur :
        </label>
        <input type="text">
      </div>
      <div class="control-group">
        <label class="control-label">Acteurs :</label>
        <input type="text">
      </div>
      <div class="control-group">
        <label class="control-label">Note :</label>
        <input type="number" placeholder="entre 1 et 5">
      </div>
    </form>
  </section>
  <footer class="modal-footer">
    <button class="btn btn-danger btn-small">Annuler</button>
    <button class="btn btn-success">Ajouter</button>
  </footer>
</div>
